.form-container{
    margin: 4rem 6rem;
    color: black;
}

.form-container h1{
    text-align: center;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.form-container textarea{
     padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
    border: 1px solid black;
}

@media screen and (max-width:850px) {
    .form-container{
        margin: 4rem 2rem;
        
    }

    .form-container form{
    padding-top: 2rem;
    width: 90%;
}
}