.footer{
    padding: 4rem 6rem;
    background-color: black;
    color: white;

}


.top{
    display: flex;
justify-content: center;
align-items: center;
}


.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom div{
    display: flex;
    flex-direction: column;
}

.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}

.bottom a{
    text-decoration: none;
    color: white;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}


@media screen and (max-width:850px){
    .footer{
        padding: 4rem 2rem;
    }

    .bottom div{
        text-align: center;
        width: 50%;
        margin-bottom: 1.6rem;
    }

}

