.trip{
    margin: 4rem 6rem;
    color: black;
}


.trip h1{
    font-size: 3rem;
}

.tripcard{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.t-card{
    background-color: rgba(249, 245, 239, 0.844);
    border: 2px solid black;
    width: 32%;
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, green, 0, 0.11);
}

.t-image{
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
}

.t-image img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.t-image:hover img{
transform: scale(1.3);
}

.t-card h3{
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: .4rem;
}

.mainheading, .maintext{
    text-align: center;
}

.maintext{
    margin-top: 6px;
    font-size: 20px;
}



@media screen and (max-width:850px){

    .trip{
        margin: 4rem 2rem;
    }

    .tripcard{
        display: flex;
        flex-direction: column;
        
    }

    .t-card{
        margin-left: 5%;
        width: 90%;
        margin-bottom: 1.5rem;
    }
    
}